@page
@model PrivacyModel
@{
    ViewData["Title"] = "سیاست حریم خصوصی";
}
<h1 class="h4 mb-3">@ViewData["Title"]</h1>

<p class="text-muted">اطلاعات ورود کاربران در کوکی امن و فقط جهت ارتباط با سرویس ISM.WebApi نگهداری می‌شود. هیچ‌گونه داده‌ای بدون اجازه شما به اشتراک گذاشته نخواهد شد.</p>
